.nav{
    background-color: #333;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
  }
.navInr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .container{
    width: 80%;
    margin: auto;
  } 
  .nav ul{
      display: flex;
      gap: 20px;
      list-style-type: none;
  }
.form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}
.page{
  padding: 50px 0px;
}
.form input{
  height: 40px;
  padding: 0 10px;
}
.form select{
  height: 40px;
  padding: 0 10px;
}
.products{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.product{
  border: 1px solid #ffffff88;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}
.product .text{
  padding: 5px 10px;
}
.product img{
  max-width: 80%;
  width: 100%;
  height: auto;
  max-height: 150px;
  margin: auto;
  object-fit: contain;
  margin: 8px auto;
}
.product .text h3{
  font-size: 18px;
color: #fff;
}
.product .text p{
  color: #fff;
}
.cartContaint h2{
margin-bottom: 20px;
color: #fff;
}
.producDetails{
  display: flex;
  gap: 10px;
}

.quantity{
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #1a1a1a;
  &>*{
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    &::after{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 16px;
      transform: translate(-50%,-50%);
      height: 16px;
      background: url(../public/icons.png);
      background-size: 512px 512px;
      background-repeat: no-repeat;
    }
  }
  p{
    &::after{
      display: none;
    }
  }
  .delete::after{
    background-position: -472px -403px;
  }
  .decrease::after{
    background-position: -463px -421px;
  }
  .increase::after{
    background-position: -454px -403px;
  }
}

.formOtr{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100svh - 76px);
}
.formOtr form{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.formOtr form h1{
  font-size: 30px;
  margin-bottom: 10px;
}
.formOtr form label{
  display: block;
  margin-bottom: 5px;
}
.filed{
  margin-bottom: 20px;
}
.formOtr form input{
  width: 100%;
  height: 40px;
  padding: 0px 10px;
}