.nav{
    background-color: #333;
    color: white;
    width: 100%;
  }
.navInr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .container{
    width: 80%;
    margin: auto;
  } 
  .nav ul{
      display: flex;
      gap: 20px;
      list-style-type: none;
  }